
__pycache__/
*.py[cod]
*$py.class=
*.csv
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
.ipynb_checkpoints/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.tmp
*.log.tmp
*.bak
*.swp
